#Dependencies
/node_modules

#Next.js build output
/.next

#Firebase local cache & logs
.firebase
firebase-debug.log
firebase-debug.*.log

#Local environment variables
#These should be set in the App Hosting console, not committed.
.env.local
.env.development.local
.env.test.local
.env.production.local
**/serviceAccountKey.json

#IDE / OS files
.vscode/
.DS_Store